.footer__column-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
}

.footer__column-link[href="https://www.instagram.com/yndx.practicum/"] {
margin-bottom: 16px;
}
.footer__column-link[href="https://yandex.ru/support/praktikum/mentors.html"] {
  margin-bottom: 16px;
  }

.footer__column-link:hover {
opacity: .5;
transition: .5s;
}
