.footer__column-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 10px;
  align-items: center;
}

.footer__column-link a {
  text-decoration: none;
  color: white;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}

.footer__column-link:hover {
  opacity: .5;
  transition: .5s;
}
